@import '../../style/vars';

.profile {
  background-color: white;
  overflow-wrap: break-spaces;

  p {
    font-size: 15px;
  }

  img {
    max-width: 60px;
  }

  h2 {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    padding: 5px;
    margin: 0;
  }
}