@import '../../style/vars';

.event-item {
  box-sizing: border-box;
  border: 5px solid $light-accent;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  margin: 10px auto;
}

.event-item:hover {
  border: 5px solid $main-accent-dark;
}