@import '../../style/vars';

.dashboard {
  box-sizing: border-box;
}

.dashboard-main {
  width: 60%;
  height: 100%;
  display: inline-block;
  background-color: $light-background;
  box-sizing: border-box;
  padding: 10px;
  border-left: 3px solid $light-accent;
  border-right: 3px solid $light-accent;

  .posts {
    display: flex;
    flex-wrap: wrap;
  }

  .event-button {
    text-align: center;

    button {
      width: 80%;
      height: 50px;
    }
  }
}

.dashboard-left {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;

  .contacts {
    overflow-wrap: break-spaces;

    li {
      list-style: none;
      padding: 10px;
    }
    li:hover {
      background-color: $main;
      color: white;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
}

.dashboard-right {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  overflow-wrap: break-spaces;
  padding: 10px;
  box-sizing: border-box;
}