@import '../../style/vars';

.event-page {
  box-sizing: border-box;
  button {
    margin: 0 2px;
  }
  .details {
    float: right;
  }
  margin-bottom: 40px;
  .details-div p {
    font-size: 20px;
    margin-left: 20px;
  }
}

.post-buttons {
  text-align: center;

  button {
    background-color: $main-accent;
    border: 1px solid $main-accent;
  }
  button:hover {
    background-color: $main-accent-dark;
    border: 1px solid $main-accent-dark;
  }
}

.event-page-left {
  width: 20%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.event-page-right {
  width: 20%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  padding: 10px;
}

.event-page-main {
  box-sizing: border-box;
  display: inline-block;
  width: 60%;
  height: 100%;
  background-color: $light-background;
  border-left: 3px solid $light-accent;
  border-right: 3px solid $light-accent;
  padding: 10px;
}

.delete {
  text-align: center;
  button {
    background-color: $main-accent;
    border: 1px solid $main-accent;
    width: 80%;
  }
}